.app {
  background-color: white;
  border-radius: 3px;
  box-shadow: -3px 6px 10px rgba(0, 0, 0, .2);
  margin: auto;
  min-height: 100vh;
  position: relative;

  @media (min-width: $screen-phone) {
    margin: 5vh auto;
    max-width: $screen-desktop;
    min-height: 90vh;
    width: 90%;
  }

  @media (min-width: $screen-tablet) {
    width: 80%;
  }
}

.app-title {
  border-bottom: 1px solid rgba($gray-light, .2);
  border-top: 2px solid $primary;
  font-weight: 400;
  margin-bottom: .5em;
  padding: .5em 1em;
  text-align: left;
}
