// Colors
$primary: #3eaca8;
$primary-dark: darken($primary, 30%);
$primary-light: lighten($primary, 20%);
$accent: #a2d4ab;
$accent-secondary: #e5eec1;

$gray: #727272;
$gray-dark: #5a5050;
$gray-light: #D7D7DD;

$white: #fff;
$white-opacity: rgba(#fff, .54);

$text: $gray-dark;
$error: red;

// Media queries breakpoints
$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop: 992px;
$screen-lg-desktop: 1200px;
