// Colors
$primary: #00BCD4;
$primary-dark: darken($primary, 10%);
$primary-light: lighten($primary, 20%);
$accent: #a6206a;
$accent-sec: #ec1c4b;
$accent-ter: #f16a43;
$accent-qua: #f7d969;

$gray: #727272;
$gray-dark: #5a5050;
$gray-light: #D7D7DD;

$white: #fff;
$white-opacity: rgba(#fff, .54);

$text: $gray-dark;
$error: $accent-sec;

// Media queries breakpoints
$screen-phone: 480px;
$screen-tablet: 768px;
$screen-desktop: 992px;
$screen-lg-desktop: 1200px;
