@import '../../stylesheets/variables';

.add-lane {
  background-color: $primary;
  margin-bottom: .4em;
  margin-left: 3em;

  &:hover,
  &:focus {
    background-color: $accent-ter;
  }
}

.reset-store {
  background-color: rgba($primary, 0);
  box-shadow: none;
  color: $gray;
  font-weight: 600;
  margin-bottom: .4em;
  margin-left: 1em;

  &:hover,
  &:focus {
    background-color: rgba($primary, 0);
    color: $primary;
  }
}

.lanes {
  padding: 2em;

  @media (min-width: $screen-phone) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.lane {
  border: 1px solid lighten($gray-light, 10%);
  border-radius: 1px;
  flex-grow: 1;
  margin-top: 1.5em;
  max-width: 15em;
  min-width: 12.5em;
  position: relative;

  @media (max-width: $screen-phone) {
    margin-left: auto;
    margin-right: auto;
  }

  &__name {
    border-bottom: 1px solid $gray-light;
    font-weight: 400;
    padding: .5em;
    padding-left: .5em;
    text-align: left;

    .editing {
      box-shadow: inset 0 -2px $accent-qua;
    }
  }

  &__delete {
    background-color: $white;
    border: 1px solid lighten($gray-light, 10%);
    box-shadow: none;
    color: $gray-dark;
    height: 1em;
    line-height: 1em;
    padding: 0;
    position: absolute;
    right: .5em;
    top: -.5em;
    width: 1em;
  }

  &__drag {
    background-color: $white;
    background-image: url('./drag-cursor.png');
    background-position: center;
    border: 1px solid lighten($gray-light, 10%);
    box-shadow: none;
    cursor: move;
    height: 1em;
    padding: 0;
    position: absolute;
    right: 2em;
    top: -.5em;
    width: 1em;

    &:focus {
      box-shadow: none;
    }
  }
}
