@import '../../stylesheets/variables';

.add-note {
  background-color: $accent-sec;
  height: 2em;
  margin-bottom: 1em;
  margin-left: 1em;
  padding: 0 1em;

  &:hover,
  &:focus {
    background-color: darken($accent-sec, 20%);
  }
}

.notes-list {
  list-style-type: none;
  padding: 0 1em;
}

.note {
  background-image: url('./drag-pattern.png');
  background-position: left center;
  background-repeat: no-repeat;
  border-left: 2px solid $primary;
  cursor: move;
  margin: .725em 0;
  padding: .5em 1em;
  position: relative;

  input {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
    cursor: text;
  }

  .editing {
    border-bottom: 2px solid $accent;
  }

  .delete {
    color: rgba($gray-dark, .3);
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    margin-left: 5px;
    position: absolute;
    right: 0;
    top: 0;
    vertical-align: sub;
  }
}
